body {
    background:#efefef;
}

#main {
    margin-top:40px;
}

#header {
    padding-top:20px;
    background: #99cc00;
    color: white;
}

.tabbable li {
    margin-top:10px;
    margin-left:10px;
}

#content{ 
     background: #fff;
     margin: 0px 10px 20px 10px;
     min-height: 600px;
     padding: 25px 20px;
 
    /* Shadow line */
    box-shadow: 3px 5px 10px #ccc;
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 5px 10px #ccc;
}
 
#sidebar{ float: right; width: 220px; }

#footer{
    color: #bbb;
    font-size: 12px;
    padding: 20px;
    text-align: center;
}
