body {
    background:#efefef;
}

#header {
    background:#99cc00;
    color:white;
}

#header h1{ color: #fff; font-size: 28px; font-weight: normal; padding: 10px 0px 5px 20px;}

#menu { margin: 25px 0px 30px 25px; }

#menu li{ 
 
    /* Top left corner */
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
 
    /* Top right corner*/
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
 
    /* Opacity */
    opacity: 0.7;           
 
    background: #efefef;
    float: left;
    margin: 0px 8px 0px 0px;
    padding: 8px 20px 8px 20px; 
}

#menu li.active, #menu li:hover{
    opacity: 1.0;       
}

#menu a{ color: #000; text-decoration: none; }

#menu a:hover{ text-decoration: underline; }

#content{ 
     background: #fff;
     margin: 25px 30px 0 30px;      
     min-height: 600px;
     padding: 25px 20px;
 
    /* Shadow line */
    box-shadow: 3px 5px 10px #ccc;
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 5px 10px #ccc;
}
 
#sidebar{ float: right; width: 220px; }

#footer{
    color: #bbb;
    font-size: 12px;
    padding: 20px;
    text-align: center; 
}
