// This is a template for ~/.afp-viewer/viewer.config

// Use 'browse' property to set the command to start the client
// Bindings:
// $host - the hostname
// $port - the port
// $context - the application name
// e.g browse = 'firefox http://$host:$port/$context'
